{% extends "layout.html" %}

{% block body %}

<article class="container" style="display:inline-flex; background-color: #154360;">
    <span style="margin: 2em;">



        <div style="text-align:justify; color: white; line-height: 1.5;">
            <p>Infinite Horizons is an extraordinary travel agency that specializes in organizing out-of-this-world trips to the captivating destinations of Jupiter, Mars, and Saturn. With a passion for space exploration, Infinite Horizons offers unparalleled experiences for adventurous travelers seeking to push the boundaries of human exploration.

              For those fascinated by the largest planet in our solar system, Infinite Horizons provides meticulously planned and awe-inspiring journeys to Jupiter. Witness the mesmerizing Great Red Spot up close, marvel at its swirling cloud bands, and delve into the mysteries of its powerful magnetic field. Explore the captivating Galilean moons, each with its own unique landscapes and potential for scientific discovery.

              Embark on a voyage to Mars, the enigmatic red planet, with Infinite Horizons' expertly crafted itineraries. Walk in the footsteps of rovers, witness the breathtaking Martian landscapes, and immerse yourself in the challenges and triumphs of future human colonization efforts. Delve into the planet's geological wonders and unravel the secrets of its intriguing past.
              </p>
            </div>
    </span>

    <span style="margin: 2em; margin-right: -2em;">
        <p align="center"> <img style="margin-top: -10px;" src="/static/952048a0-7f7a-43c2-b47c-5ef2c53a5ffd.JPG" alt="BELGIAN TRUFFLE">
        </p>
    </span>

    </article>










{% endblock %}
