{% extends "layout2.html" %}

{% block body %}



  <article class="container" style="display:inline-flex; background-color: ">

  <span style="margin: 2em;" >
    <div class="card" style="width: 25rem; height: 30 rem;" >
      <img src="/static/PIA01527~orig.jpg" class="card-img-top" alt="ITALLIAN TRULLI">
      <div class="card-body">
        <p class="card-text" style="margin: 50px" ><h5>JUPITER</h5>Jupiter, the grandest showstopper in our celestial neighborhood, is a colossal gas giant named after the king of the Roman gods. This vibrant giant, more than 11 times wider than Earth, flaunts stunning bands of clouds, including the famous Great Red Spot, a colossal storm larger than our entire planet. With an atmosphere filled with hydrogen and helium, Jupiter's swirling cloud patterns and colorful storms create an awe-inspiring sight. Jupiter is located over 588 million kilometers away from Earth on average.</p>
        <a href="/success2" class="btn btn-primary">GO TO JUPITER</a>
      </div>
    </div>
  </span>

  <span style="margin: 2em;">
    <div class="card" style="width: 25rem; margin-top: -10px;">
      <img src="/static/PIA03276~orig.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"><h5>MARS</h5>Welcome to the Red Planet, Mars, where the future of space travel unfolds before your eyes! Get ready for the ultimate cosmic escapade on the fourth rock from the Sun, brimming with Martian marvels and thrilling adventures.
          About Mars: Mars, often referred to as the "Red Planet," is your ticket to a whole new world. This terrestrial planet boasts a solid surface like Earth but with landscapes that defy imagination. Mars is known for its vast deserts, towering volcanoes, and a canyon system that dwarfs the Grand Canyon. </p>
          <a href="/success1" class="btn btn-primary">GO TO MARS</a>
      </div>
    </div>
  </span>

  <span style="margin: 2em; margin-top: 1em;">
    <div class="card" style="width: 23rem; length: 30 rem;">
      <img src="/static/PIA02225~orig.jpg" class="card-img-top" alt="GERMAN TRULLI">
      <div class="card-body">
        <p class="card-text"><h5>SATURN</h5> Known as the "Ringed Wonder," Saturn is more than just a planet; it's a celestial jewel of the solar system.
          About Saturn: Saturn's mesmerizing yellowish hue, derived from its atmospheric ammonia crystals, sets the stage for a futuristic voyage. This gas giant, second only to Jupiter in size, boasts an incredible diameter of around 116,500 kilometers. But what truly steals the show is its extraordinary ring system – an intricate cosmic masterpiece that shines like a futuristic jewelry display. </p>
          <a href="/success3" class="btn btn-primary">GO TO SATURN</a>
      </div>
    </div>
  </span>

  </article>


{% endblock %}
